<div class="seotoaster container">
    <?php
    echo $this->partial(
        'admin' . DIRECTORY_SEPARATOR . '_header.phtml',
        array(
            'innerHeaderHtml' => $this->translate('SeoToaster chat')
        )
    );
    ?>
    <div id="editcode" class="content-footer grid_12 ml2 mr2 scroll">
        <textarea id="content"><?php echo $this->content; ?></textarea>
    </div>
</div>